In [19]:
deaths_url = 'csse_covid_19_data\csse_covid_19_time_series\\time_series_19-covid-Deaths.csv'
recovered_url = 'csse_covid_19_data\csse_covid_19_time_series\\time_series_19-covid-Recovered.csv'
confirmed_url = 'csse_covid_19_data\csse_covid_19_time_series\\time_series_19-covid-Confirmed.csv'

In [20]:
import pandas as pd
d = pd.read_csv(deaths_url)

In [24]:
d.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,6,10,10,15,16,19,22,22,27,29
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [22]:
d[d['Country/Region']=='Netherlands']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
443,Netherlands,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,3,3,4,5,5,10,12,20,24,43
449,Curacao,Netherlands,12.1696,-68.9900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0